<nav class="nav-wrapper grey">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">


        {{#if isHome}}
        <li class="active"><a href="/">Главная</a></li>
        {{else}}
        <li><a href="/">Главная</a></li>
        {{/if}}


       
{{#if isAuth}}

        {{#if isAbout}}
        <li class="active"><a href="/about">О нас</a></li>
        {{else}}
        <li><a href="/about">О нас</a></li>
        {{/if}}

        {{#if isAddRestaurant}}
        <li class="active"><a href="/addRestaurant">Добавить ресторан</a></li>
        {{else}}
        <li><a href="/addRestaurant">Добавить ресторан</a></li>
        {{/if}}

         <li><a href="/logout">Выйти</a></li>
            

{{else}}

{{#if isLogin}}
<li class="active"><a href="/auth">Войти</a></li>
{{else}}
<li><a href="/auth">Войти</a></li>

{{/if}}

{{/if}}



 

    </ul>
</nav>